.section-contact{
	.section-header{
		margin-bottom: 20px;
	}
	&-details{
		.icon-box{
			background-color:$bg-color;
			text-align: center;
			padding: 20px 0;
			height:200px;
				
			.icon{
					border: 1px solid $orange;
					width:75px;
					height: 75px;
					border-radius: 50%;
					display:flex;
					align-items: center;
					justify-content: center;
					margin:0 auto;	
					color: $orange;
					font-size:36px;
			     }

			 .text{
			 	padding:20px 0;
			 	h2{
			 		font-family: $monB;
			 		font-size: 18px;
			 		line-height: 1.6;
			 		color: $red;
			 		text-transform: uppercase;

			 		span{
			 			display: block;
			 			font-size: 16px;
			 			font-family: $monR;
			 			color: $black;
			 			text-transform: initial;
			 		}
			 	}
			 }

		}
	}


	&-form{
		input{
			outline: none;
		}


		.form-control{
			border:none;
			border-radius: 0;
		}


		.btn{
			margin:0 20px;
			border-radius:50px;
			}

		}
}

@include custom_max(640px){
	.section-contact{
		&-details{
			.icon-box{
				.icon{
					font-size:24px;
					width:50px;
					height:50px;
				}
			}
		}
	}
}

