
.accordion{
  position: relative;
  max-width: 100%;
  height: auto;
  margin-bottom: 50px;

  h2{
    margin-bottom: 30px;
    }

  .set{
        position: relative;
        width: 100%;
        height: auto;
        margin-bottom: 30px;

        .title{
              display: block;
              padding: 10px 15px 25px 15px;
              text-decoration: none;
              text-transform: capitalize;
              font-family: $monB;
              color: $black;
              font-size:18px;
              border-bottom: 1px solid #ddd;
              cursor: pointer;
              -webkit-transition:all 0.2s linear;
              -moz-transition:all 0.2s linear;
              transition:all 0.2s linear;
             

            i{
              float: left;
              margin-top: -10px;
              margin-right: 10px;
              background-color: #ff9d08;
              width: 32px;
              height: 32px;
              border-radius: 50%;
              justify-content: center;
              display: flex;
              align-items: center;
              color: white;

            }

            &.active{
              i{
                transform:rotate(90deg);
              }
            }
        }

        .content{
            background-color: #fff;
            display:none;

             p{
                  margin: 0;
                  color: #333;
                  padding: 15px 50px;
                }
          }

    }
}


