.section-trip-banner{
	position:relative;
	img{
		width: 100%;
		max-height: 500px;
		object-fit: cover;
		object-position: center;
	}

	&-description{
		 padding: 10px 0;
		 position: absolute;
		 bottom: 0;
		 right: 0;
		 left: 0;
		 background-image: linear-gradient(to top, rgba(0,0,0,0.3), rgba(255,255,255,0));
		 color: white;
		 .title{
		 	text-transform: uppercase;

		 }

		 .ratings{
			  .fill{
			  	color: $orange;
			  }
		 }


	}
}

.section-subnav-bar{
			margin-left:auto;
			background-color:$bg-color;
			padding: 10px 0;
			position: sticky;
			left:0;
			right: 0;
			top:0;
			z-index: 999;
			ul{
				li{
					float: left;
					a{
						font:14px $monSb;
						display: block;
						padding:20px 15px;
						position: relative;
						color: $black;
						&::after{
							opacity: 0;
							display: block;
							content: "";
							height: 3px;
							background-color:$red;
							position: absolute;
							bottom:0;
							left:0;
							right:0;
							
						}
						&:hover{
							color:$red;

							&::after{
								
								opacity: 1;
							}

						}
					}

					&.active{
						a{
							color:$red;
							&::after{
								opacity: 1;
							}
						}
					}
				}
				@extend %clearfix;
			}
	}

.section-tour-details{
	padding:30px 20px;
	.title{
		i{
			margin-right: 10px;
			color:$orange;
			font-size: 24px;
		}
		padding: 10px 0;

	}
	.description{
		&-table{
			border-bottom: 1px solid $gray;

			td {
				line-height: 1.6;
				i{
				    color: $orange;
				    margin-right: 10px;
				 }
			}
		}

		li{
			padding: 10px;
			i{
				color: $orange;

			}
		}
	}

	.itinerary-box{
		margin-bottom: 30px;
			.content {
			 		display:none;
			 		padding: 10px;
			 		line-height: 1.6;
				}  
			.header { 
						font-size: 16px;
						font-family: $monM;

					
					span{
						color:$black;
						font-family:$monB;
						margin-right: 10px;

					}
						margin:0;
						padding:20px; 
						background:darken($orange,5%);
						
					 a{
					 	color:white;

					 }

					 a:hover{
					 	text-decoration: none;
					 }
			     }
			 .toggle {
			  cursor:pointer; 
			}


		}

	.slider-item{
		cursor: pointer;

		img{
			width: 100%;
			min-height:200px;
			max-height:500px;
			object-fit: cover;
			object-position: center;
			margin-bottom:30px;
		}
	}

}

.section-similar-tour{
	padding:50px 0;
	.title h2{
		font-size:18px;
		font-family:$monSb;
		border-bottom:1px solid $gray;
		margin-bottom:30px;
	}
}

@include custom_max(640px){
	.section-trip-banner{
		&-description{
			.title h2{
				font-size:20px;
			}

		}
	}

	.section-tour-details{
		padding:30px 10px;
	}

}
@include custom_max(576px){
	.section-similar-tour{
		padding:50px 20px;
	}
}

