.section-client-stories{
	background:linear-gradient(rgba(255,157,8,0.5),rgba(255,157,8,0.5)),url('../images/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
		
		.stories-slick-slider{
			.client-stories{
				background-color:rgba(255,255,255,0.8);
				padding:20px 10px;
				border-radius:10px;
				margin-bottom: 30px;
				margin-right: 30px;
				.client-image{
					max-width:100px;
					margin:0 auto;

					img{
							border-radius: 50%;

					}
				}
				.stories{
				  .title{
				  	display: block;
				  	text-align: center;
				  	padding: 10px 0;
				  	font-family: $monSb;
				  	color: $orange;
				  	text-transform: uppercase;
				  }


				  	p{
				  		line-height: 1.6;
				  		max-height: 150px;
				  		overflow: hidden;
				  		text-align: center;
				  		color:black;
				  	}
				}
			}
		}

			.share-your-stories{
				h2{
					font-family: $monB;
					text-transform: uppercase;
					color: white;
				}

				.btn{
					background-color: $orange;

				}
		}

		 @include custom_max(991px){
		 	.stories-slick-slider{
				 .client-stories{
				 	margin-right: 0;
				 }
		 	}

		 	.share-your-stories{
		 		margin-top:50px;
		 	}
		 }

}

