.sub-header{
	background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../images/bg-subheader.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment:fixed;
	background-size: cover;
	position: relative;
	padding: 100px 0;

	h1{
		font-size: 36px;
		color:$white;
		text-transform: uppercase;
		text-align: center;
		font-family:$monSb;
	}

	@include custom_max(640px){
		padding:50px 0;

		h1{
			font-size:20px;
		}
	}
}

